<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beetrueapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeetrueApplication">
        <activity android:name=".ChangeUsernameActivity"></activity>
        <activity android:name=".ChangeEmailActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".EditHabitActivity" />
        <activity android:name=".NewHabitActivity" />
        <activity android:name=".EditTaskActivity" />
        <activity android:name=".NewTaskActivity" />
        <activity android:name=".EditNoteActivity" />
        <activity android:name=".NewNoteActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".HabitsActivity" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".ToDoListActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>